<h2 mat-dialog-title cdkTrapFocus>Edit user</h2>

<mat-dialog-content>
	<app-loader />
	<!--<video-->
	<!--	[class.show]="hasPhoto && isLoaded"-->
	<!--	muted="true"-->
	<!--	playsinline=""-->
	<!--	controls="false"-->
	<!--	aria-hidden="true"-->
	<!--	autoplay=""-->
	<!--	#video></video>-->

	<ng-container *ngIf="!isLoaded">
		<button mat-raised-button (click)="load()">Start</button>
	</ng-container>
	<ng-container *ngIf="isLoaded">
		<button mat-raised-button color="warn" (click)="stop()">stop</button>
	</ng-container>
	<button mat-raised-button mat-dialog-close>cancel</button>

	<video [class.show]="hasPhoto" autoplay playsinline [appDimensionVideo]="isLoaded" #video></video>
	<img [class.hide]="!hasPhoto" aria-hidden="true" alt="" #img />
	<canvas [class.hide]="true" [appDimensionCanvas]="video" [dimensionCanvasIsLoaded]="isLoaded" #canvas></canvas>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<div>
		<button mat-raised-button color="accent" (click)="changeCamera()">change Camera</button>

		<ng-container *ngIf="!hasPhoto">
			<button mat-raised-button color="primary" (click)="capture()">take a picture</button>
		</ng-container>
		<ng-container *ngIf="hasPhoto">
			<button mat-raised-button color="primary" (click)="unCapture()">remove picture</button>
		</ng-container>
	</div>
</mat-dialog-actions>
